@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent default mobile browser bounce/scroll */
}

@media print {

    html,
    body,
    #root {
        height: auto !important;
        overflow: visible !important;
        background: white !important;
        color: black !important;
    }

    aside,
    header nav,
    .print\:hidden {
        display: none !important;
    }
}